* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #dedede;
    padding: 1.5rem;
    text-align: left;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav {
    margin-bottom: 1rem;
}

nav a {
    padding: 0 1rem;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 1rem;
    transition: 0.4s ease;
}

nav a.active{
    color: rgb(0, 125, 197);
    font-weight: 600;
}

nav a:hover {
    color: rgb(0, 162, 255);
    transition: 0.4s ease;
}

main {
    padding: 2rem;
    background-color: #e7e7e7;
}

section {
    margin-bottom: 2.5rem;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: rgb(42, 104, 140);
}

main h1 {
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}


button {
    width: 100%;
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(42, 104, 140);
    color: white;
    filter: drop-shadow(0 0 0.1rem rgb(16, 38, 50));
}

footer {
    background-color: rgb(42, 104, 140);
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 1.5rem;
    text-align: center;
    justify-content: space-evenly;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(0, 162, 255);
}

@media (max-width: 800px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header nav a {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    .menu-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .dish {
        padding: 20px 30px;
    }

    button {
        padding: 10px 20px;
    }
}
 