#about_us img {
    text-align: center;
    width: 70%;
    height: auto;
    margin-bottom: 1.5rem;
}

ul {
    list-style: disc inside;
    padding-left: 1.5rem;
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
}

th, td {
    padding: 0.75rem;
    border: 1px solid #000;
    text-align: left;
}

th {
    background-color: #c2c2c2;
    font-weight: bold;
}